# Introduction to Data Preparation with Pandas

Im Rahmen von Think 3 bereiten wir die Daten so auf, dass sie sich für die Visuelle Analyse eignen. D.h. wir rechnen Werte teils so um, dass sie sich für die Visualisierung eignen.

## Daten importieren

In [81]:
# Pandas Library importieren
import pandas as pd
data = pd.read_excel("./data/african_countries_dataset.xlsx", sheet_name="Data")

In [82]:
# Verifiziere das der Import funktioniert hat
data.head()

,Land,Country_Code,Fläche_Total_km2,Fläche_Land_km2,Fläche_Wasser_km2,Küstenlänge_km,Landnutzung_Landwirtschaft_%,Landnutzung_Wald_%,Landnutzung_Other_%,Bevölkerung,Medianalter,Lebenserwartung,Urbanisierung_%,Bevölkerungswachstum_%,BIP_pro_Kopf_USD,Arbeitslosigkeit_%,Jugendarbeitslosigkeit_%,Alphabetisierung_M_%,Alphabetisierung_F_%,Internetnutzer_%
0,Algeria,ag,2381740.0,2381740.0,0.0,998,17.3,0.8,81.8,47022473.0,29.1,77.9,75.3,1.54,15200.0,11.81,30.8,87.4,75.3,71.0
1,Angola,ao,1246700.0,1246700.0,0.0,1600,36.8,52.5,10.6,37202061.0,16.3,62.9,68.7,3.33,7200.0,14.62,28.2,82.6,62.4,39.0
2,Benin,bn,112622.0,110622.0,2000.0,121,43.1,26.9,30.0,14697052.0,17.2,63.0,50.1,3.29,3700.0,1.45,3.9,56.9,35.0,34.0
3,Botswana,bc,581730.0,566730.0,15000.0,0,45.6,26.5,27.9,2450668.0,27.1,66.4,72.9,1.34,18800.0,23.38,45.4,88.0,88.9,77.0
4,Burkina Faso,uv,274200.0,273800.0,400.0,0,53.2,22.4,24.4,23042199.0,18.7,64.2,32.5,2.40,2500.0,5.29,8.0,54.5,37.8,20.0

## Subset Erstellen

In [83]:
# select a subset of countries based on their names
north_africa = [
    "Algeria",
    "Egypt",
    "Libya",
    "Mauritania",
    "Morocco",
    "Sudan",
    "Tunisia",
    "Western Sahara"
]

na_subset = data[data["Land"].isin(north_africa)]
na_subset

,Land,Country_Code,Fläche_Total_km2,Fläche_Land_km2,Fläche_Wasser_km2,Küstenlänge_km,Landnutzung_Landwirtschaft_%,Landnutzung_Wald_%,Landnutzung_Other_%,Bevölkerung,Medianalter,Lebenserwartung,Urbanisierung_%,Bevölkerungswachstum_%,BIP_pro_Kopf_USD,Arbeitslosigkeit_%,Jugendarbeitslosigkeit_%,Alphabetisierung_M_%,Alphabetisierung_F_%,Internetnutzer_%
0,Algeria,ag,2381740.0,2381740.0,0.0,998,17.3,0.8,81.8,47022473.0,29.1,77.9,75.3,1.54,15200.0,11.81,30.8,87.4,75.3,71.0
14,Egypt,eg,1001450.0,995450.0,6000.0,2450,4.1,0.0,95.9,111247248.0,24.4,75.0,43.1,1.49,16700.0,7.31,19.0,78.8,67.4,72.0
26,Libya,ly,1759540.0,1759540.0,0.0,1770,8.7,0.1,91.2,7361263.0,26.2,77.7,81.6,1.44,12500.0,18.74,49.4,96.7,85.6,88.0
30,Mauritania,mr,1030700.0,1030700.0,0.0,754,38.5,0.3,61.2,4328040.0,22.1,65.9,57.7,1.92,6300.0,10.51,23.7,71.8,62.2,44.0
32,Morocco,mo,716550.0,716300.0,250.0,2945,67.9,12.9,19.2,37387585.0,30.6,74.2,65.1,0.84,8900.0,9.11,22.6,84.8,67.4,90.0
45,Sudan,su,1861484.0,1731671.0,129813.0,853,60.3,9.6,30.0,50467278.0,19.3,67.8,36.3,2.55,2500.0,11.45,18.2,65.4,56.1,29.0
50,Tunisia,ts,163610.0,155360.0,8250.0,1148,62.4,4.5,33.0,12048847.0,34.4,77.3,70.5,0.58,12600.0,15.11,37.5,89.1,82.7,74.0
52,Western Sahara,wi,NaN,266000.0,0.0,1110,18.8,2.7,78.5,NaN,21.8,64.5,86.8,2.54,NaN,NaN,NaN,NaN,NaN,NaN

### Spalten Reduzieren

In [84]:
# select only certain columns
col_selection = ["Land", "Fläche_Total_km2", "Bevölkerung", "Medianalter", "BIP_pro_Kopf_USD", "Bevölkerungswachstum_%"]
na_subset = na_subset[col_selection]

na_subset

,Land,Fläche_Total_km2,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381740.0,47022473.0,29.1,15200.0,1.54
14,Egypt,1001450.0,111247248.0,24.4,16700.0,1.49
26,Libya,1759540.0,7361263.0,26.2,12500.0,1.44
30,Mauritania,1030700.0,4328040.0,22.1,6300.0,1.92
32,Morocco,716550.0,37387585.0,30.6,8900.0,0.84
45,Sudan,1861484.0,50467278.0,19.3,2500.0,2.55
50,Tunisia,163610.0,12048847.0,34.4,12600.0,0.58
52,Western Sahara,NaN,NaN,21.8,NaN,2.54

## Daten Aufbereiten

### Zwischenaufgabe

Bevor wir beginnen Werte zu verändern (bspw. durch Skalierung) ist es ratsam eine Kopie des Dataframes anzulegen. Erstelle eine Kopie von `na_subset` und speichere sie in `new_subset`.

In [85]:
new_subset = na_subset.copy()

### Summe und Mittelwerte hinzufügen

In [86]:
# create a copy first
sum_avg_data = new_subset.copy()

# add a row at the end for the sum of each columns values
sum_avg_data.loc["Sum"] = sum_avg_data.sum(numeric_only=True)

# add a row at the end for the avg of each columns values
sum_avg_data.loc["Avg"] = sum_avg_data.mean(numeric_only=True)

sum_avg_data

,Land,Fläche_Total_km2,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381740.0,47022473.0,29.1,15200.0,1.540000
14,Egypt,1001450.0,111247248.0,24.4,16700.0,1.490000
26,Libya,1759540.0,7361263.0,26.2,12500.0,1.440000
30,Mauritania,1030700.0,4328040.0,22.1,6300.0,1.920000
32,Morocco,716550.0,37387585.0,30.6,8900.0,0.840000
45,Sudan,1861484.0,50467278.0,19.3,2500.0,2.550000
50,Tunisia,163610.0,12048847.0,34.4,12600.0,0.580000
52,Western Sahara,NaN,NaN,21.8,NaN,2.540000
Sum,NaN,8915074.0,269862734.0,207.9,74700.0,12.900000
Avg,NaN,2228768.5,67465683.5,46.2,18675.0,2.866667

### Werte Skalieren

In [87]:
# Ansatz 1: Die originalen Werte mit den neuen Werten überschreiben
scaled_data_1 = new_subset.copy()

scaled_data_1["Fläche_Total_km2"] = scaled_data_1["Fläche_Total_km2"] / 1000
scaled_data_1

,Land,Fläche_Total_km2,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381.740,47022473.0,29.1,15200.0,1.54
14,Egypt,1001.450,111247248.0,24.4,16700.0,1.49
26,Libya,1759.540,7361263.0,26.2,12500.0,1.44
30,Mauritania,1030.700,4328040.0,22.1,6300.0,1.92
32,Morocco,716.550,37387585.0,30.6,8900.0,0.84
45,Sudan,1861.484,50467278.0,19.3,2500.0,2.55
50,Tunisia,163.610,12048847.0,34.4,12600.0,0.58
52,Western Sahara,NaN,NaN,21.8,NaN,2.54

In [88]:
# Ansatz 2: originale Werte behalten und neue Spalten hinzufügen. 
# Hier kann auch der Skalierungswert explizit erwähnt werden
scaled_data_2 = new_subset.copy()

scaled_data_2.insert(
    scaled_data_2.columns.get_loc("Fläche_Total_km2") + 1,      # position
    "Fläche_Total_km2_Scaled_1000",                             # new column name
    scaled_data_2["Fläche_Total_km2"] / 1000                    # values based on a scale
)

scaled_data_2

,Land,Fläche_Total_km2,Fläche_Total_km2_Scaled_1000,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381740.0,2381.740,47022473.0,29.1,15200.0,1.54
14,Egypt,1001450.0,1001.450,111247248.0,24.4,16700.0,1.49
26,Libya,1759540.0,1759.540,7361263.0,26.2,12500.0,1.44
30,Mauritania,1030700.0,1030.700,4328040.0,22.1,6300.0,1.92
32,Morocco,716550.0,716.550,37387585.0,30.6,8900.0,0.84
45,Sudan,1861484.0,1861.484,50467278.0,19.3,2500.0,2.55
50,Tunisia,163610.0,163.610,12048847.0,34.4,12600.0,0.58
52,Western Sahara,NaN,NaN,NaN,21.8,NaN,2.54

#### Zwischenaufgabe

Erstelle eine Spalte wo du die Bevölkerung um einen Wert von 100'000 skalierst. Arbeite mit der Variable `scaled_data_2`.

In [89]:
# Deine Lösung:

### Prozente Berechnen

In [96]:
# create a copy
perc_data = new_subset.copy()

# insert a new column with percentages
perc_data.insert(
    perc_data.columns.get_loc("Fläche_Total_km2") + 1,  # position to add column
    "Fläche_Total_km2_Perc", # new column name
    (perc_data["Fläche_Total_km2"] / perc_data["Fläche_Total_km2"].sum() * 100).round(2)    # percentage of total
)

perc_data

,Land,Fläche_Total_km2,Fläche_Total_km2_Perc,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381740.0,26.72,47022473.0,29.1,15200.0,1.54
14,Egypt,1001450.0,11.23,111247248.0,24.4,16700.0,1.49
26,Libya,1759540.0,19.74,7361263.0,26.2,12500.0,1.44
30,Mauritania,1030700.0,11.56,4328040.0,22.1,6300.0,1.92
32,Morocco,716550.0,8.04,37387585.0,30.6,8900.0,0.84
45,Sudan,1861484.0,20.88,50467278.0,19.3,2500.0,2.55
50,Tunisia,163610.0,1.84,12048847.0,34.4,12600.0,0.58
52,Western Sahara,NaN,NaN,NaN,21.8,NaN,2.54

#### Zwischenaufgabe

Erstelle eine neue Spalte mit den Prozentwerten für die Bevölkerung, arbeite dabei mit der Variable `perc_data`.

In [97]:
# Deine Lösung: 
perc_data.insert(
    perc_data.columns.get_loc("Bevölkerung") + 1,
    "Bevölkerung_%",
    (perc_data["Bevölkerung"] / perc_data["Bevölkerung"].sum() * 100).round(2)
)
perc_data

,Land,Fläche_Total_km2,Fläche_Total_km2_Perc,Bevölkerung,Bevölkerung_%,Medianalter,BIP_pro_Kopf_USD,Bevölkerungswachstum_%
0,Algeria,2381740.0,26.72,47022473.0,17.42,29.1,15200.0,1.54
14,Egypt,1001450.0,11.23,111247248.0,41.22,24.4,16700.0,1.49
26,Libya,1759540.0,19.74,7361263.0,2.73,26.2,12500.0,1.44
30,Mauritania,1030700.0,11.56,4328040.0,1.60,22.1,6300.0,1.92
32,Morocco,716550.0,8.04,37387585.0,13.85,30.6,8900.0,0.84
45,Sudan,1861484.0,20.88,50467278.0,18.70,19.3,2500.0,2.55
50,Tunisia,163610.0,1.84,12048847.0,4.46,34.4,12600.0,0.58
52,Western Sahara,NaN,NaN,NaN,NaN,21.8,NaN,2.54

### Differenzen berechnen

Die Differenz bezeichnet die Abweichung zum Mittelwert

In [101]:
diff_data = new_subset.copy()

# always: location to insert, new column name, calculated value
diff_data.insert(
    diff_data.columns.get_loc("BIP_pro_Kopf_USD") + 1,
    "BIP_pro_Kopf_USD_DIFF",
    (diff_data["BIP_pro_Kopf_USD"] - diff_data["BIP_pro_Kopf_USD"].mean()) 
)

diff_data

,Land,Fläche_Total_km2,Bevölkerung,Medianalter,BIP_pro_Kopf_USD,BIP_pro_Kopf_USD_DIFF,Bevölkerungswachstum_%
0,Algeria,2381740.0,47022473.0,29.1,15200.0,4528.571429,1.54
14,Egypt,1001450.0,111247248.0,24.4,16700.0,6028.571429,1.49
26,Libya,1759540.0,7361263.0,26.2,12500.0,1828.571429,1.44
30,Mauritania,1030700.0,4328040.0,22.1,6300.0,-4371.428571,1.92
32,Morocco,716550.0,37387585.0,30.6,8900.0,-1771.428571,0.84
45,Sudan,1861484.0,50467278.0,19.3,2500.0,-8171.428571,2.55
50,Tunisia,163610.0,12048847.0,34.4,12600.0,1928.571429,0.58
52,Western Sahara,NaN,NaN,21.8,NaN,NaN,2.54

### Zwischenaufgabe: 

Berechne die Differenz für das Bevölkerungswachstum, verwende dazu die Variable `diff_data`

In [ ]:
# Deine Lösung:

## Export

In [91]:
# na_subset.to_excel('./export/na_subset.xlsx', index=False)